/**
* Main stylesheet. 
*/
@import url("./reset.css");

html{
  height: calc(100vh - 16px);
}
body {
  height: 100%;
  width: 100%;
  background-color: rgb(42, 42, 42);
  color:gold;
  display:flex;
  flex-direction: column;
  align-items: center;
}

hr{
  width:75%;
  margin:0.5rem 0;
  color:rgb(65, 64, 64);
}
main{
  background-color: inherit;
  width: 75%;
  height: 100%;
  border: rgb(79, 79, 79) 4px inset;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#appArea{
  flex-grow: 1;
}
#bay{
  height:clamp(50px, 5%, 80px);
}

